img {
	width: 200px;
	height: 200px;
}


.famousBox:nth-of-type(even) {
	background-color: yellow;
}

.famousBox:nth-of-type(odd) {
	background-color: lightblue;
}

.borderz {
	border: 10px dotted green;
}

